$applicationContext.getBean("aclManager")
$applicationContext.getBean("aclPermissionEntryDao")
$applicationContext.getBean("aclService")
$applicationContext.getBean("dwrLicenseService")
$applicationContext.getBean("attachmentService")
$applicationContext.getBean("attachmentDao")
$applicationContext.getBean("baseLineDao")
$applicationContext.getBean("baseLineService")
$applicationContext.getBean("commentDao")
$applicationContext.getBean("contourItemDao")
$applicationContext.getBean("documentDao")
$applicationContext.getBean("documentFieldDao")
$applicationContext.getBean("document_UrlDao")
$applicationContext.getBean("documentNodeDao")
$applicationContext.getBean("documentNodeManager")
$applicationContext.getBean("documentNodeService")
$applicationContext.getBean("documentService")
$applicationContext.getBean("documentTypeDao")
$applicationContext.getBean("documentTypeFieldDao")
$applicationContext.getBean("documentTypeService")
$applicationContext.getBean("eventLogDao")
$applicationContext.getBean("filterDao")
$applicationContext.getBean("legacyDocumentNodeManager")
$applicationContext.getBean("lookupDao")
$applicationContext.getBean("lookupTypeDao")
$applicationContext.getBean("projectDao")
$applicationContext.getBean("projectFieldDao")
$applicationContext.getBean("relationshipDao")
$applicationContext.getBean("relationshipTypeDao")
$applicationContext.getBean("releaseDao")
$applicationContext.getBean("reviewDao")
$applicationContext.getBean("reviewProgressDTO")
$applicationContext.getBean("revisionDao")
$applicationContext.getBean("revisionInfoDao")
$applicationContext.getBean("revisionItemDao")
$applicationContext.getBean("revisionRelationshipRetriever")
$applicationContext.getBean("revisionUserService")
$applicationContext.getBean("roleDao")
$applicationContext.getBean("signatureDao")
$applicationContext.getBean("smartFilterDao")
$applicationContext.getBean("syncStatusService")
$applicationContext.getBean("tagDao")
$applicationContext.getBean("testCycleDao")
$applicationContext.getBean("testPlanDao")
$applicationContext.getBean("testRunDao")
$applicationContext.getBean("testSetDao")
$applicationContext.getBean("userDao")
$applicationContext.getBean("userService")
$applicationContext.getBean("versionDao")
$applicationContext.getBean("userLogEntryDao")
$applicationContext.getBean("testRunSetDao")
$velocityServiceWrapper.getItem
$velocityServiceWrapper.getRelationships
